<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<% if current_user.is_blog_author? @blog %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>  
<%= link_to 'Back', blogs_path %>

<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
    <div>
      <% if current_user.is_blog_author? @blog %>
        <%= link_to 'Reply', new_blog_comment_path(@blog, parent_id: comment.id), remote: true, class: 'd-block' %>
      <% end %>
    </div>
   <% if comment.replies.any? %>
      <% comment.replies.each do |reply| %> 
        <div>
          <%= render partial: 'comments/reply', locals: { reply: reply } %>
        </div>
      <% end %>
    <% end %>
    <div id="reply-form-<%= comment.id %>"></div>
  </p>
<% end %>


<%= render partial: 'comments/comment_form' %>

