<div style="float:right; margin-top: -40px; margin-right: 20px;"><h3><%= current_user.full_name if current_user %></h1></div>

<div style="float:right;">
  <% if current_user %>
    <%= link_to "Log out", destroy_user_session_path , method: :delete%>
  <%else%>
    <%= link_to "Login", new_user_session_path %>
  <%end%>
</div>